// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white: #fff;
$black: #1b1b1b;
$red: #f56c6c;
$orange: #f25f43;
$yellow: #e6a23c;
$green: #67c23a;
$blue: #5488c7;
$light-blue: #b5ebf8;
$teal: #8eb4cb;
$pink: #ff5b77;
$purple: #613d7c;

// Create grayscale

$gray-100: #f6f6f7;
$gray-200: #e9ecef;
$gray-300: #dbe3e8;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #9b9b9b;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #292b2c;

// Deprecated
$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #9b9b9b;
$gray-lighter: #dbe3e8;
$gray-lightest: #f6f6f7;

// Reassign color vars to semantic color scheme
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $teal;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: #0b1a33;

$facebook-color: #3b5998;
$google-color: #e94820;
$github-color: #333;
$linkedin-color: #0077b5;
$twitter-color: #1da1f2;

$highlighted-item-bg-color: rgba(64, 158, 255, 0.1);
$highlighted-item-hover-bg-color: rgba(64, 158, 255, 0.2);
